<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <script src="../vue.js"></script>
    <title>Composants Vue</title>
  </head>
  <body>
    <div id="root"></div>
    <script>

    Vue.component("Timer", {
      data() {
        return {
          min: this.minutes,
          sec: this.seconds
        }
      },
      props: [
        "minutes",
        "seconds"
      ],
      computed: {
        time() {
          var min = this.min;
          var sec = this.sec;
          if (min < 10) min = "0" + min;
          if (sec < 10) sec = "0" + sec;
          return min + ":" + sec;
        }
      },
      created() {
        var timer = setInterval(() => {
          this.sec -= 1;
          if (this.sec < 0) {
            this.min -= 1;
          if (this.min < 0) {
            this.min = 0;
            this.sec = 0;
            clearInterval(timer);
          }
          else this.sec = 59;
          }
        }, 1000);
      },
      template:`
      <div>
        <div v-if="sec||min">Il reste {{time}}</div>
        <div v-else>Fin du timer</div>
      </div>
      `
    });

    var vm = new Vue({
      el: "#root",
      template:`
        <div>
          <Timer minutes="1" seconds="10" />
        </div>
      `
    });

    </script>
  </body>
</html>
